@import '../../utils/constant.css';

.header-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: white;
  width: 50%; 
}

.flex-container {
  display: flex;
  align-items: center;
}

.section-title {
  margin-left: 10px; /* Adjust the margin as needed */
}
.icon{
  color : var(--success-main);
  font-size: var( --font-size-xxl);
}